name: Test
on:
  - push
  - pull_request
jobs:
  test:
    strategy:
      matrix:
        python:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install test dependencies
        run: |
          pip install --upgrade build check-manifest twine black pytest coverage
          pip install .
      - name: Lint
        run: black . --check
      - name: Build
        run: |
          check-manifest --ignore 'tests/**'
          python -m build
          python -m twine check dist/*
      - name: Test
        run: pytest tests/
